<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zaith & Yusbey</title>
    <link rel="icon" href="/Images/Img1.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/CSS/styles2.css">
</head>
<body>
    <div class="section">
        <img src="/Images/Imagen1.png" alt="Pareja" class="main-image">
    </div>

    <div class="section">
        <video class="intro-video" autoplay loop muted>
            <source src="/Resources/Flecha.mp4" type="video/mp4">
            Tu navegador no soporta la reproducción de video.
        </video>
        <h2>¡Nos casamos!</h2>
        <img src="/Images/Imagen2.jpg" alt="Pareja caminando" class="secondary-image">
        <p>En el día más especial, unimos nuestros corazones. Únanse a nuestra alegría mientras nos prometemos amor eterno.</p>
    </div>

    <div class="section">
        <div class="countdown-box">
            <h2>Cuenta regresiva</h2>
        <div class="countdown">
            <div class="count-item">
                <h3 id="days">265</h3>
                <p>DÍAS</p>
            </div>
            <div class="count-item">
                <h3 id="hours">8</h3>
                <p>HORAS</p>
            </div>
            <div class="count-item">
                <h3 id="minutes">10</h3>
                <p>MINUTOS</p>
            </div>
            <div class="count-item">
                <h3 id="seconds">0</h3>
                <p>SEGUNDOS</p>
            </div>
        </div>
        </div>
    </div>

    <script src="/JS/Mov.js"></script>

    <div class="section">
        <h2>Ceremonia</h2>
        <p>Iglesia Catedral de Encarnación <br> Juan León Mallorquín c/ Gral Cabañas <br> 20:00 hs</p>
    </div>

    <div class="section">
        <h2>Celebración</h2>
        <p>Salón de Eventos del Club de Caza y Pesca Pacu cuá <br> Avda Costanera Pacucua c/ Avda Japón</p>
    </div>

    <div class="section">
        <h2>¿Qué música te gustaría escuchar en la Boda?</h2>
        <input type="text" placeholder="Canción" class="music-input">
        <button class="submit-button">Guardar</button>
    </div>

    <div class="section">
        <h2>Lista de regalos</h2>
        <p>Lo más importante es tu presencia, pero si deseas entregarnos un regalo, te dejamos aquí los datos de nuestra cuenta bancaria y dejaremos un cofre en el salón para depositar tus sobres!</p>
        <button class="bank-button">CUENTA BANCARIA</button>
    </div>

    <div class="section">
        <h2>Nuestro amor en fotos...</h2>
        <img src="Imagen3.jpg" alt="Foto 1" class="photo">
        <img src="Imagen4.jpg" alt="Foto 2" class="photo">
        <img src="Imagen5.jpg" alt="Foto 3" class="photo">
    </div>

    <div class="section">
        <h2>Confirmar asistencia</h2>
        <input type="text" placeholder="Nombre y Apellido" class="text-input">
        <input type="text" placeholder="Teléfono" class="text-input">
        <button class="submit-button">Confirmar!</button>
        <p>¡Niños no asistir!</p>
    </div>

    <audio autoplay loop>
        <source src="/Resources/Inicio.mp3" type="audio/mpeg">
        Tu navegador no soporta la reproducción de audio.
    </audio>
</body>
</html>
